<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<h1>Create New Book</h1>
<form method="POST" th:action="@{/book/new}" th:object="${bookCreateDTO}">
    <table>
        <tr>
            <td>Title :</td>
            <td>
                <input name="title" th:field="*{bookTitle}" type="text">
                <div style="color: red;" th:errors="*{bookTitle}" th:if="${#fields.hasErrors('bookTitle')}"></div>
            </td>
        </tr>
        <tr>
            <td>Author Name :</td>
            <td>
                <input name="author" th:field="*{authorName}" type="text">
                <div style="color: red;" th:errors="*{authorName}" th:if="${#fields.hasErrors('authorName')}"></div>

            </td>
        </tr>
        <tr>
            <td>Description :</td>
            <td>
                <textarea cols="20" name="description" rows="5" th:field="*{description}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">

            </td>
        </tr>
    </table>
</form>

</body>

</html>